<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{~/css/a.css}" type="text/css" rel="stylesheet">
</head>
<body>
<shiro:user>
    <a id="a1">欢迎[<shiro:principal/>]登录</a>，<a href="/user/out">退出</a>
</shiro:user>
<img id="a2" th:src="@{~/images/2.jpg}">
<shiro:hasAnyRoles name="经理,管理员">经理和管理员可见</shiro:hasAnyRoles><br>
<hr>
<a th:href="@{/user/getAllUser}">查看所有员工</a><br>
<a th:href="@{/user/getUserInfo(id=${session.uid})}">修改信息</a><br>
<a th:href="@{/room/add}">添加房间</a><br>
<a th:href="@{/room/list(page=2)}">查看房间1</a>


</body>
</html>