<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>Id</th>
        <th>房号</th>
        <th>类型</th>
        <th>酒店号</th>
        <th>价格</th>
    </tr>
    <tr th:each="r:${rooms.list}">
        <td th:text="${r.id}"></td>
        <td th:text="${r.roomNumber}"></td>
        <td th:text="${r.roomAmount}"></td>
        <td th:text="${r.shopNumber}"></td>
        <td th:text="${r.standardPriceDay}"></td>
    </tr>
</table>
</body>
</html>