<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vip.wente.wtsystem.dao.RoomDao" >
    <!--Integer addRoom(Room room);-->
    <!--添加房间-->
    <insert id="addRoom" parameterType="vip.wente.wtsystem.entity.Room" useGeneratedKeys="true" keyProperty="id">
        insert into room(
                roomState,
                roomType,
                shopNumber,
                 roomNumber,
                roomAmount,
                standardPriceDay,
                vipPriceDay,
                createdTime,modifiedTime,
                createdUser,modifiedUser
                )values (
              #{roomState},
              #{roomType},
              #{shopNumber},
              #{roomNumber},
              #{roomAmount},
              #{standardPriceDay},
             #{vipPriceDay},
              now(),#{modifiedTime},
              #{createdUser},#{modifiedUser}
                          )
    </insert>
    <!-- List<Room> getRooms(@Param("where") String where, @Param("orderBy")String orderBy, @Param("offerset")Integer offerset, @Param("countPerpage")Integer countPerpage);;-->
    <!--获取所有房间-->
    <select id="getRooms" resultType="vip.wente.wtsystem.entity.Room">
        select r.id id, r.roomNumber roomNumber, d_a.details type,d.details state,r.standardPriceDay standardPriceDay,r.vipPriceDay vipPriceDay,r.roomAmount roomAmount,
        r.roomState roomState,r.roomType roomType,r.shopNumber shopNumber
        from  (SELECT * FROM room_details) AS d_a RIGHT JOIN room r on d_a.id=r.roomState LEFT JOIN room_details d on d.id=r.roomType
        <if test="where!=null">where ${where}</if>
        <if test="orderBy!=null">order by ${orderBy}</if>
        <if test="offerset!=null">limit ${offerset},${countPerpage}</if>
    </select>
    <!--Integer update(Room room);-->
    <!--修改房间信息-->
    <update id="update">
        update room
        set roomNumber=#{roomNumber},roomStateID=#{roomStateID},standardPriceDay=#{standardPriceDay},vipPriceDay=#{vipPriceDay}
        WHERE shopNumber=#{shopNumber}
        <if test="id!=null">
            and id=#{id}
        </if>
    </update>
    <!--删除房间-->
    <!--Integer delete(Integer id,Integer shopNumber);-->
    <delete id="delete">
        delete from room where id=#{id} and shopNumber=#{shopNumber}
    </delete>
</mapper>